In [3]:
#1: AMAZON_FASHION

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/AMAZON_FASHION.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count ,AVG(overall) as average_score FROM AMAZON_FASHION WHERE verified = True AND COUNT(*) >= 500 AND AVG(overall) <= 2.5 GROUP BY asin ORDER BY average_score ASC")

sqlDF1.show()


sqlDF2 = spark.sql("SELECT asin, COUNT(*) AS count ,AVG(overall) as average_score FROM AMAZON_FASHION WHERE verified = True AND COUNT(*) >= 500 AND AVG(overall) > 2.5 GROUP BY asin ORDER BY average_score ASC")

sqlDF2.show()

AnalysisException:
Aggregate/Window/Generate expressions are not valid in where clause of the query.
Expression in where clause: [(((amazon_fashion.`verified` = true) AND (count(1) >= CAST(500 AS BIGINT))) AND (avg(amazon_fashion.`overall`) <= CAST(2.5BD AS DOUBLE)))]
Invalid expressions: [count(1), avg(amazon_fashion.`overall`)];;
Sort [average_score#128 ASC NULLS FIRST], true
+- Aggregate [asin#91], [asin#91, count(1) AS count#127L, avg(overall#93) AS average_score#128]
   +- Filter (((verified#101 = true) AND (count(1) >= cast(500 as bigint))) AND (avg(overall#93) <= cast(2.5 as double)))
      +- SubqueryAlias amazon_fashion
         +- Relation[asin#91,image#92,overall#93,reviewText#94,reviewTime#95,reviewerID#96,reviewerName#97,style#98,summary#99,unixReviewTime#100L,verified#101,vote#102] json