In [4]:
#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/AMAZON_FASHION.json")

originalDF.printSchema()

root
 |-- asin: string (nullable = true)
 |-- image: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- overall: double (nullable = true)
 |-- reviewText: string (nullable = true)
 |-- reviewTime: string (nullable = true)
 |-- reviewerID: string (nullable = true)
 |-- reviewerName: string (nullable = true)
 |-- style: struct (nullable = true)
 |    |-- Color:: string (nullable = true)
 |    |-- Format:: string (nullable = true)
 |    |-- Gem Type:: string (nullable = true)
 |    |-- Item Display Length:: string (nullable = true)
 |    |-- Item Package Quantity:: string (nullable = true)
 |    |-- Length:: string (nullable = true)
 |    |-- Material:: string (nullable = true)
 |    |-- Metal Type:: string (nullable = true)
 |    |-- Package Quantity:: string (nullable = true)
 |    |-- Scent Name:: string (nullable = true)
 |    |-- Shape:: string (nullable = true)
 |    |-- Size Name:: string (nullable = true)
 |    |-- Size:: string (nullable = true)
 |    |-- Style Name:: string (nullable = true)
 |    |-- Style:: string (nullable = true)
 |    |-- Team Name:: string (nullable = true)
 |-- summary: string (nullable = true)
 |-- unixReviewTime: long (nullable = true)
 |-- verified: boolean (nullable = true)
 |-- vote: string (nullable = true)

In [5]:
originalDF.createOrReplaceTempView("AMAZON_FASHION")

In [6]:
sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION GROUP BY asin")

In [7]:
sqlDF1.createOrReplaceTempView("sqlDF1View")

In [8]:
sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

In [9]:
sqlDF2.show()

+----------+-----+
|      asin|count|
+----------+-----+
|B011MP1ODS|  332|
|B015CFTI6O|  114|
|B01641CJOI|  167|
|B017X9JBXW|  214|
|B00Q8JSY8M|  177|
|B00SCVJBAY|  143|
|B00FXKK44E|  101|
|B009046U2Y|  171|
|B009MA34NY|  380|
|B0017U1KBK| 1828|
|B01H6ED2IY|  115|
|B000YUIGSY|  166|
|B00EZJ1INA|  109|
|B0039X40OC|  104|
|B01EUFORG8|  240|
|B000GHMRLW| 1418|
|B009ERSRDM|  237|
|B005XNCH3W|  204|
|B01DPGKDPC|  302|
|B01BKVWKCS|  142|
+----------+-----+
only showing top 20 rows

In [11]:
sqlDF2.createOrReplaceTempView("sqlDF1View2")

In [16]:
sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC")

In [17]:
sqlDF3.show()

+----------+------------------+
|      asin|      avg(overall)|
+----------+------------------+
|B0148B7EJ6| 4.907801418439717|
|B0006HB4XE| 4.858267716535433|
|B011PLYVCA| 4.856209150326797|
|B01B5BWTNS| 4.844990548204159|
|B00YWSNUO4| 4.831858407079646|
|B00D8FJF6O|4.8274111675126905|
|B00RLSCLJM| 4.826003298515668|
|B0087UIAMK|  4.81294964028777|
|B00G8Q7JZ4| 4.807453416149069|
|B002Z3N1HE| 4.793103448275862|
|B01BKVWKCS| 4.788732394366197|
|B01CEZSSXY| 4.788617886178862|
|B00CZ50F3A| 4.780821917808219|
|B00GRDC4BM| 4.771653543307087|
|B001XOQTSE| 4.770623742454728|
|B00GRDC372| 4.764705882352941|
|B00KGMGACO| 4.758620689655173|
|B00409FL4M| 4.752475247524752|
|B00XCWZBUW| 4.747191011235955|
|B00GI76P3K| 4.742857142857143|
+----------+------------------+
only showing top 20 rows