## Find the top review products of each category

In [1]:
#Load the metadata at first
metaDF = spark.read.json("hdfs://orion11:21001/parsed-meta/")

metaDF.createOrReplaceTempView("viewMetaData")

metaDF.printSchema()

root
 |-- brand: string (nullable = true)
 |-- category: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- title: string (nullable = true)

In [3]:
#1: AMAZON_FASHION

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/AMAZON_FASHION.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) AS avg_score FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC LIMIT 20")

#sqlDF3.show()

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF1 = spark.sql("SELECT title, asin, avg_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY avg_score DESC")

showDF1.show()

+--------------------+----------+------------------+
|               title|      asin|         avg_score|
+--------------------+----------+------------------+
|Dasom Womens Fash...|B0148B7EJ6| 4.907801418439717|
|BOX1MM Nickel Fre...|B0006HB4XE| 4.858267716535433|
|Oberon Design Tre...|B011PLYVCA| 4.856209150326797|
|Working Class Kid...|B01B5BWTNS| 4.844990548204159|
|Stephen Joseph Qu...|B00D8FJF6O|4.8274111675126905|
|MJ Metals Jewelry...|B00RLSCLJM| 4.826003298515668|
|          Big Undies|B0087UIAMK|  4.81294964028777|
|MJ Metals Jewelry...|B00G8Q7JZ4| 4.807453416149069|
|Vera Bradley Zip ...|B002Z3N1HE| 4.793103448275862|
|Back From Bali Wo...|B01BKVWKCS| 4.788732394366197|
|Blue Q Women's No...|B01CEZSSXY| 4.788617886178862|
|i Play. Boys' Tod...|B00CZ50F3A| 4.780821917808219|
|Allett Leather Or...|B00GRDC4BM| 4.771653543307087|
| The Hat Jack Woo...|B001XOQTSE| 4.770623742454728|
|Leather Original ...|B00GRDC372| 4.764705882352941|
|Agimini Classic W...|B00KGMGACO| 4.758620689655173|
|Stephen Joseph Go...|B00409FL4M| 4.752475247524752|
|Carter's Baby Boy...|B00XCWZBUW| 4.747191011235955|
|100% Silk Extra L...|B00GI76P3K| 4.742857142857143|
|New Covenant Pray...|B003WJXKTO| 4.739495798319328|
+--------------------+----------+------------------+

In [ ]:
#2: All_Beauty

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/All_Beauty.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) AS avg_score FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC LIMIT 20")

#sqlDF3.show()

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF1 = spark.sql("SELECT title, asin, avg_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY avg_score DESC")

showDF1.show()

In [ ]:
#3: Cell_Phones_and_Accessories

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Cell_Phones_and_Accessories.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) AS avg_score FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC LIMIT 20")

#sqlDF3.show()

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF1 = spark.sql("SELECT title, asin, avg_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY avg_score DESC")

showDF1.show()

In [ ]:
#4: Electronics

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Electronics.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) AS avg_score FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC LIMIT 20")

#sqlDF3.show()

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF1 = spark.sql("SELECT title, asin, avg_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY avg_score DESC")

showDF1.show()

In [ ]:
#5: Home_and_Kitchen

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Home_and_Kitchen.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) AS avg_score FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC LIMIT 20")

#sqlDF3.show()

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF1 = spark.sql("SELECT title, asin, avg_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY avg_score DESC")

showDF1.show()

In [ ]:
#6: Sports_and_Outdoors

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Sports_and_Outdoors.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) AS avg_score FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC LIMIT 20")

#sqlDF3.show()

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF1 = spark.sql("SELECT title, asin, avg_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY avg_score DESC")

showDF1.show()

In [ ]:
#7: Video_Games.json

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Video_Games.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) AS avg_score FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC LIMIT 20")

#sqlDF3.show()

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF1 = spark.sql("SELECT title, asin, avg_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY avg_score DESC")

showDF1.show()