In [1]:
#Load the metadata at first
metaDF = spark.read.json("hdfs://orion11:21001/parsed-meta/")

metaDF.createOrReplaceTempView("viewMetaData")

metaDF.printSchema()

root
 |-- brand: string (nullable = true)
 |-- category: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- title: string (nullable = true)

In [4]:
#1: AMAZON_FASHION

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/AMAZON_FASHION.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


#products with bad reviews
sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC LIMIT 20")

sqlDF2.createOrReplaceTempView("sqlDF2")

showDF1 = spark.sql("SELECT title, asin, count, average_score FROM sqlDF2 LEFT JOIN viewMetaData ON sqlDF2.asin = viewMetadata.product_id ORDER BY average_score ASC")

showDF1.show()

#sqlDF2.show()

#products with good reviews
sqlDF3 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score DESC LIMIT 20")

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF2 = spark.sql("SELECT title, asin, count, average_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY average_score DESC")

showDF2.show()

#sqlDF3.show()

+--------------------+----------+-----+------------------+
|               title|      asin|count|     average_score|
+--------------------+----------+-----+------------------+
|Chellysun Women's...|B01EC05AZI|  515|2.7398058252427187|
|Pink Queen Women'...|B00UJ6GUYA| 1004|  2.99800796812749|
|Belly Bandit Orig...|B001T4MSU6|  527| 3.301707779886148|
|SAYFUT Women's Bu...|B0183JQHCO| 1226|3.3556280587275693|
|Fashion Brand 925...|B00UDF11O6|  738|3.3672086720867207|
|Allegra K Women B...|B009PMILQE|  855| 3.433918128654971|
|Secret Wishes Del...|B0045D7VZ0|  560|              3.45|
|Secret Wishes Del...|B000EE1NNA|  520|3.4692307692307693|
|Allegra K Woman B...|B00E1L9QOU|  656|3.4923780487804876|
|Waist Trainer Cor...|B00XV52VMG|  538| 3.676579925650558|
|Lush Moda Seamles...|B018KRRC2I|  854| 3.728337236533958|
|Kearia Women Shor...|B019Q577XC|  735| 3.763265306122449|
|Leg Avenue Women_...|B005MF5NE6|  546|3.8058608058608057|
|Hanes Mens EcoSma...|B000YFSR5G| 2420|  3.81198347107438|
|Angerella Polka V...|B00YP2TNZ2|  573| 3.825479930191972|
|Hanes Mens EcoSma...|B000YFSR4W| 1566|3.8371647509578546|
|Leg Avenue Women'...|B0014F8TIU|  878| 3.856492027334852|
|HD Vision Anti-Gl...|B007F55UGW|  506|3.9209486166007905|
|DALIX Bucket Hats...|B00DHCZVMK|  594| 3.951178451178451|
|Havaianas Women's...|B0012DR1LU|  712| 3.973314606741573|
+--------------------+----------+-----+------------------+

+--------------------+----------+-----+------------------+
|               title|      asin|count|     average_score|
+--------------------+----------+-----+------------------+
|MJ Metals Jewelry...|B00RLSCLJM| 3577| 4.826670394185071|
|MJ Metals Jewelry...|B00G8Q7JZ4|  631| 4.812995245641838|
|Vera Bradley Zip ...|B002Z3N1HE| 1131| 4.798408488063661|
|New Covenant Pray...|B003WJXKTO|  783| 4.745849297573436|
|Marino Avenue Men...|B00XT15P8E| 1790| 4.732960893854749|
|Buyless Fashion S...|B00DP5NNHY|  785| 4.694267515923567|
|Eyeglasses holder...|B01CDV7TNE|  607| 4.685337726523888|
|TOFL Leather Boot...|B01AQW1XI4|  632| 4.667721518987341|
|i play. Baby Boys...|B000PHANNM| 2401| 4.658892128279883|
|CoolFire Solar Wa...|B00ZOWJI7A|  791|4.6561314791403285|
|Columbia Women's ...|B00DQYPSJU|  842|4.5831353919239906|
|Powerstep Pinnacl...|B000KPIHQ4| 4270| 4.517330210772834|
|Powerstep Pinnacl...|B000V0IBDM| 4279| 4.515073615330684|
|Men&rsquo;s Fashi...|B00CPRP5T2|  580| 4.503448275862069|
|OAKI Kids Rubber ...|B00UPN42RY|  791| 4.495575221238938|
|Saxx Vibe Modern ...|B00PSM5ENS| 1139| 4.483757682177348|
|Calvin Klein Boy'...|B000K2PJ4K|  888|4.4324324324324325|
|90 Degree By Refl...|B00I0VHS10| 3608| 4.428215077605321|
| i play. Baby Sol...|B00201ER88| 2081| 4.423354156655454|
|i play. Girls' Ba...|B000P0X15G| 1823| 4.415249588590236|
+--------------------+----------+-----+------------------+

In [ ]:
#2: All_Beauty

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/All_Beauty.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


#products with bad reviews
sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC LIMIT 20")

sqlDF2.createOrReplaceTempView("sqlDF2")

showDF1 = spark.sql("SELECT title, asin, count, average_score FROM sqlDF2 LEFT JOIN viewMetaData ON sqlDF2.asin = viewMetadata.product_id ORDER BY average_score ASC")

showDF1.show()

#sqlDF2.show()

#products with good reviews
sqlDF3 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score DESC LIMIT 20")

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF2 = spark.sql("SELECT title, asin, count, average_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY average_score DESC")

showDF2.show()

#sqlDF3.show()

In [ ]:
#3: Cell_Phones_and_Accessories

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Cell_Phones_and_Accessories.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


#products with bad reviews
sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC LIMIT 20")

sqlDF2.createOrReplaceTempView("sqlDF2")

showDF1 = spark.sql("SELECT title, asin, count, average_score FROM sqlDF2 LEFT JOIN viewMetaData ON sqlDF2.asin = viewMetadata.product_id ORDER BY average_score ASC")

showDF1.show()

#sqlDF2.show()

#products with good reviews
sqlDF3 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score DESC LIMIT 20")

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF2 = spark.sql("SELECT title, asin, count, average_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY average_score DESC")

showDF2.show()

#sqlDF3.show()

In [ ]:
#4: Electronics

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Electronics.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


#products with bad reviews
sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC LIMIT 20")

sqlDF2.createOrReplaceTempView("sqlDF2")

showDF1 = spark.sql("SELECT title, asin, count, average_score FROM sqlDF2 LEFT JOIN viewMetaData ON sqlDF2.asin = viewMetadata.product_id ORDER BY average_score ASC")

showDF1.show()

#sqlDF2.show()

#products with good reviews
sqlDF3 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score DESC LIMIT 20")

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF2 = spark.sql("SELECT title, asin, count, average_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY average_score DESC")

showDF2.show()

#sqlDF3.show()

In [ ]:
#5: Home_and_Kitchen

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Home_and_Kitchen.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


#products with bad reviews
sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC LIMIT 20")

sqlDF2.createOrReplaceTempView("sqlDF2")

showDF1 = spark.sql("SELECT title, asin, count, average_score FROM sqlDF2 LEFT JOIN viewMetaData ON sqlDF2.asin = viewMetadata.product_id ORDER BY average_score ASC")

showDF1.show()

#sqlDF2.show()

#products with good reviews
sqlDF3 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score DESC LIMIT 20")

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF2 = spark.sql("SELECT title, asin, count, average_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY average_score DESC")

showDF2.show()

#sqlDF3.show()

In [ ]:
#6: Sports_and_Outdoors

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Sports_and_Outdoors.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


#products with bad reviews
sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC LIMIT 20")

sqlDF2.createOrReplaceTempView("sqlDF2")

showDF1 = spark.sql("SELECT title, asin, count, average_score FROM sqlDF2 LEFT JOIN viewMetaData ON sqlDF2.asin = viewMetadata.product_id ORDER BY average_score ASC")

showDF1.show()

#sqlDF2.show()

#products with good reviews
sqlDF3 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score DESC LIMIT 20")

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF2 = spark.sql("SELECT title, asin, count, average_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY average_score DESC")

showDF2.show()

#sqlDF3.show()

In [ ]:
#7: Video_Games

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Video_Games.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


#products with bad reviews
sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC LIMIT 20")

sqlDF2.createOrReplaceTempView("sqlDF2")

showDF1 = spark.sql("SELECT title, asin, count, average_score FROM sqlDF2 LEFT JOIN viewMetaData ON sqlDF2.asin = viewMetadata.product_id ORDER BY average_score ASC")

showDF1.show()

#sqlDF2.show()

#products with good reviews
sqlDF3 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score DESC LIMIT 20")

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF2 = spark.sql("SELECT title, asin, count, average_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY average_score DESC")

showDF2.show()

#sqlDF3.show()