## Find the top review products of each category

# Code for Task3-Top5 best review products of each category
See report for detail

In [2]:
#Load the metadata at first
metaDF = spark.read.json("hdfs://orion11:21001/parsed-meta/")

metaDF.createOrReplaceTempView("viewMetaData")

metaDF.printSchema()

root
 |-- brand: string (nullable = true)
 |-- category: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- title: string (nullable = true)

In [4]:
#1: AMAZON_FASHION

originalDF = spark.read.json("hdfs://orion11:21001/p4/AMAZON_FASHION.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

#Step1: get the asin-review count data and sort them by reivew count
sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

#Step2: find products with more than 100 reviews
sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

#Step3: conpute the average review score and sort the result
sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) AS avg_score FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC LIMIT 20")

#sqlDF3.show()

sqlDF3.createOrReplaceTempView("sqlDF3")

#Step4: join with product metadata to get the title.
showDF1 = spark.sql("SELECT title, asin, avg_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY avg_score DESC")

showDF1.show()

+--------------------+----------+------------------+
|               title|      asin|         avg_score|
+--------------------+----------+------------------+
|Dasom Womens Fash...|B0148B7EJ6| 4.907801418439717|
|BOX1MM Nickel Fre...|B0006HB4XE| 4.858267716535433|
|Oberon Design Tre...|B011PLYVCA| 4.856209150326797|
|Working Class Kid...|B01B5BWTNS| 4.844990548204159|
|Stephen Joseph Qu...|B00D8FJF6O|4.8274111675126905|
|MJ Metals Jewelry...|B00RLSCLJM| 4.826003298515668|
|          Big Undies|B0087UIAMK|  4.81294964028777|
|MJ Metals Jewelry...|B00G8Q7JZ4| 4.807453416149069|
|Vera Bradley Zip ...|B002Z3N1HE| 4.793103448275862|
|Back From Bali Wo...|B01BKVWKCS| 4.788732394366197|
|Blue Q Women's No...|B01CEZSSXY| 4.788617886178862|
|i Play. Boys' Tod...|B00CZ50F3A| 4.780821917808219|
|Allett Leather Or...|B00GRDC4BM| 4.771653543307087|
| The Hat Jack Woo...|B001XOQTSE| 4.770623742454728|
|Leather Original ...|B00GRDC372| 4.764705882352941|
|Agimini Classic W...|B00KGMGACO| 4.758620689655173|
|Stephen Joseph Go...|B00409FL4M| 4.752475247524752|
|Carter's Baby Boy...|B00XCWZBUW| 4.747191011235955|
|100% Silk Extra L...|B00GI76P3K| 4.742857142857143|
|New Covenant Pray...|B003WJXKTO| 4.739495798319328|
+--------------------+----------+------------------+

In [5]:
#2: All_Beauty

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/All_Beauty.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) AS avg_score FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC LIMIT 20")

#sqlDF3.show()

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF1 = spark.sql("SELECT title, asin, avg_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY avg_score DESC")

showDF1.show()

+--------------------+----------+------------------+
|               title|      asin|         avg_score|
+--------------------+----------+------------------+
| Death and Dentistry|B000KNELAW|               5.0|
|BriteSmile Mouth ...|B0010DMNFQ| 4.990445859872612|
|Paul Brown Hawaii...|B004LUQRJI| 4.984189723320158|
|Truefitt &amp; Hi...|B00020UR4C| 4.982570806100218|
|Truefitt &amp; Hi...|B00020UR4C| 4.982570806100218|
|Commonwealth Lava...|B000UYCKRC|             4.952|
|Yardley By Yardle...|B0009RF9DW| 4.934108527131783|
|Fruits &amp; Pass...|B000FI4S1E|4.9316129032258065|
|Bare Escentuals T...|B000WZHGVY| 4.928571428571429|
|How To Train Your...|B01EGH00J8| 4.902985074626866|
|Mosher Salon Tool...|B01HC6G4D6| 4.885714285714286|
|Mosunx(TM) Pocket...|B01DLR9IDI| 4.876494023904383|
|Bath &amp; Body W...|B0012Y0ZG2| 4.861683079677708|
|Bonne Bell Smacke...|B000URXP6E|4.8389662027833005|
|Organic Moringa V...|B00PJD7KPG| 4.823943661971831|
|Citre Shine Moist...|B00006L9LC| 4.814606741573034|
|Citre Shine Moist...|B00006L9LC| 4.814606741573034|
|Borderlands Bundl...|B00D8FUHFC| 4.804511278195489|
|                null|1620213982| 4.798414023372287|
| Porter&#39;s Lin...|B001V9FPHM| 4.796380090497737|
+--------------------+----------+------------------+
only showing top 20 rows

In [6]:
#3: Cell_Phones_and_Accessories

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Cell_Phones_and_Accessories.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) AS avg_score FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC LIMIT 20")

#sqlDF3.show()

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF1 = spark.sql("SELECT title, asin, avg_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY avg_score DESC")

showDF1.show()

+--------------------+----------+------------------+
|               title|      asin|         avg_score|
+--------------------+----------+------------------+
|Nillkin Premium M...|B00FOF18OS|               5.0|
|BBInfinite [2 Pac...|B0182KPZBS|               5.0|
|Galaxy S9 Plus Sc...|B004MHNBN0| 4.997826086956522|
|,     ( ) - Masha...|B00CAIOF56| 4.995843230403801|
|APPLE IPHONE 4 &a...|B006VDFYGU| 4.995305164319249|
|VRURC Wireless Ch...|B018E2RYNQ| 4.940809968847352|
|RPC Phone Holder ...|B01881TCTW| 4.916666666666667|
|10&quot; x 4.6&qu...|B015NBWF4O| 4.914507772020725|
|Headphone Jack Ad...|B013HJZ5BO| 4.907692307692308|
|Crayola Imaginati...|B00K77WH8Y|  4.89344262295082|
|Headphone Adapter...|B00CG70K78| 4.888475836431227|
|TNSO Phone Cable ...|B00KMKSRS0| 4.880503144654088|
|Celeir Wireless C...|B00F9F6OVK| 4.874378109452737|
|VRURC 10W Fast Wi...|B01BHLUAWS|4.8713235294117645|
|DAEETO Headphone ...|B013CS5HEK| 4.861584754262789|
|Magpul Industries...|B00QSIRLDW| 4.851351351351352|
|RetiCAM Smartphon...|B00FS5L9D4|              4.85|
|NeWisdom iPhone W...|B01CY94XS4|4.8428571428571425|
|Silicone Baking M...|B00X4PKY5Y| 4.840148698884758|
|iPhone Xs Max Pri...|B00MNG84HK| 4.839506172839506|
+--------------------+----------+------------------+

In [7]:
#4: Electronics

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Electronics.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) AS avg_score FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC LIMIT 20")

#sqlDF3.show()

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF1 = spark.sql("SELECT title, asin, avg_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY avg_score DESC")

showDF1.show()

+--------------------+----------+------------------+
|               title|      asin|         avg_score|
+--------------------+----------+------------------+
|Boss Gray Ghost M...|B00K2X1IH4|               5.0|
|Eye Glasses Wired...|B0051BIDZW|               5.0|
|Monoprice 9 PIN/ ...|B003L1AINY|               5.0|
|Acoustic Research...|B00008VSKS|               5.0|
|Acoustic Research...|B00008VSKS|               5.0|
|Wireless Bluetoot...|B001F21XIK|               5.0|
|Canon Powershot E...|B00ZV7AU52|               5.0|
|AT&amp;T 25-Ft. L...|B00000J0MS| 4.997555012224939|
|AT&amp;T 25-Ft. L...|B00000J0MS| 4.997555012224939|
|iPhone Charger,MF...|B00SVNGKJ8|4.9960899315738025|
|Copy of Copy of C...|B01H4CFXZ8| 4.995348837209303|
|Magic Pencil Earp...|B00DZ1TT9Y| 4.994594594594594|
|ASleek Purple Lea...|B007D0ZLCM| 4.990610328638498|
|Kitchen Utensil -...|B00EMP6EWM| 4.988439306358382|
|Fenlink 2.5&quot;...|B01ELRRKW8| 4.952755905511811|
| Gitzo GT-531 Ser...|B0019R3BGI|4.9411764705882355|
|Canon EF 135mm f/...|B000053HC5| 4.931372549019608|
|Canon EF 135mm f/...|B000053HC5| 4.931372549019608|
|Mediabridge Banan...|B01E0E5CIG| 4.928909952606635|
|Distressed Flag D...|B00Y9IG364| 4.927272727272728|
+--------------------+----------+------------------+
only showing top 20 rows

In [8]:
#5: Home_and_Kitchen

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Home_and_Kitchen.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) AS avg_score FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC LIMIT 20")

#sqlDF3.show()

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF1 = spark.sql("SELECT title, asin, avg_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY avg_score DESC")

showDF1.show()

+--------------------+----------+------------------+
|               title|      asin|         avg_score|
+--------------------+----------+------------------+
|Cambro (1014FF166...|B00125UJCG|               5.0|
|Illy Anish Kapoor...|B005LQIWZS|               5.0|
|Luscious Grape Ki...|B001L4U05O|               5.0|
|DuraRose Everlast...|B01BCMCW64|               5.0|
|ExcelSteel Profes...|B006K9HNJQ|               5.0|
|     The Mask Mobile|B002PISR00|               5.0|
|KimsCrafts Dog Co...|B0001BUVJI| 4.988970588235294|
|KimsCrafts Dog Co...|B0001BUVJI| 4.988970588235294|
|Nickelodeon Delux...|B009S59PEU|4.9862068965517246|
|Willow Tree hand-...|B00S1MKKTA| 4.982608695652174|
|The Gift Wrap Com...|B01H9H2K04| 4.978021978021978|
|Mermaid Wall Hang...|B00N33OOU8| 4.974789915966387|
|Trudeau Avalon 8 ...|B003AKXBLC| 4.974193548387097|
|Valery Madelyn 48...|B01EDTOTWI| 4.971830985915493|
|Joseph's Studio 1...|B0013I1ET4| 4.968253968253968|
|Size: 4&quot;W x ...|B017MUR7M4| 4.966942148760331|
|Fat Daddio's 2.36...|B004M6MFZG| 4.966942148760331|
|Willow Tree hand-...|B005MS8354| 4.966183574879227|
|MarqART Wood Art ...|B00GSYTSA0| 4.962162162162162|
|Steel Drum Organi...|B010OA4M1S| 4.961904761904762|
+--------------------+----------+------------------+
only showing top 20 rows

In [9]:
#6: Sports_and_Outdoors

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Sports_and_Outdoors.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) AS avg_score FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC LIMIT 20")

#sqlDF3.show()

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF1 = spark.sql("SELECT title, asin, avg_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY avg_score DESC")

showDF1.show()

+--------------------+----------+------------------+
|               title|      asin|         avg_score|
+--------------------+----------+------------------+
|KAIMI Training Ge...|B00ERZ562Q|               5.0|
|TOUGH-GRID New 70...|B017O7OU0M| 4.972727272727273|
|Garrison Grip TWO...|B00K00X4MQ|  4.95945945945946|
|Achievement Troph...|B00CAARXCQ| 4.956521739130435|
|TEMCo GONG AR500 ...|B0106DEYK2| 4.947761194029851|
|Stunt Stand Door ...|B01AM71P5E| 4.939953810623557|
|Santa Barbara Sur...|B00YLLN4I4|            4.9375|
|NCAA 3' X 5' Man ...|B00C2SF0E4| 4.935714285714286|
|       Steel Targets|B00DXG8FHI| 4.931297709923665|
|TOUGH-GRID 750lb ...|B00I5UKTSK| 4.928539122568973|
|Outslayer Punchin...|B00H7ZU3K8| 4.926966292134831|
|Bosmere F925 48-I...|B0002L5BS8|  4.92654028436019|
|Bosmere F925 48-I...|B0002L5BS8|  4.92654028436019|
|Wiffle Ball Origi...|B008BQI0FM| 4.925714285714286|
|Ar500 Steel Bulls...|B00GD2GCJ2| 4.922480620155039|
|       The Boat Loop|B00AS025UU| 4.922413793103448|
|Better Display Ca...|B01BWQJARY| 4.921739130434783|
|Outslayer Muay Th...|B005J04BYM|4.9209039548022595|
|       Rifle Targets|B00DXG52IS| 4.920833333333333|
|Pelican 1750 Rifl...|B0014D85AY|4.9192825112107625|
+--------------------+----------+------------------+
only showing top 20 rows

In [10]:
#7: Video_Games.json

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Video_Games.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) AS avg_score FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC LIMIT 20")

#sqlDF3.show()

sqlDF3.createOrReplaceTempView("sqlDF3")

showDF1 = spark.sql("SELECT title, asin, avg_score FROM sqlDF3 LEFT JOIN viewMetaData ON sqlDF3.asin = viewMetadata.product_id ORDER BY avg_score DESC")

showDF1.show()

+--------------------+----------+------------------+
|               title|      asin|         avg_score|
+--------------------+----------+------------------+
|Mamas &amp; Papas...|B00104UBY0|               5.0|
|3C PRO 16GB 16G C...|B005C1B3C6| 4.996240601503759|
|Cyclops CYC-80RH ...|B000B6OR4I| 4.970588235294118|
|Disney Infinity 3...|B016LGYTKS| 4.927007299270073|
|Persona 5 - PlayS...|B01GKHJP4I| 4.922480620155039|
|The Witcher 3: Wi...|B00WRJCRP8| 4.904761904761905|
|Odin Sphere Leift...|B0186D1U74| 4.901408450704225|
|Horizon Zero Dawn...|B01GOOFYG0|4.8838174273858925|
|Mario Modern Colo...|B014278KPS|         4.8828125|
|Persona 5 - Steel...|B01GKHJPG6| 4.882513661202186|
|Smatree Carrying ...|B019W9SM72| 4.872340425531915|
|Smatree P100 Carr...|B01B2FAWG8| 4.868312757201646|
|Uncharted 4: A Th...|B014R50404| 4.864705882352941|
|Monster Hunter 4 ...|B00LEW3GAO| 4.863636363636363|
|Mabel Amiibo (Ani...|B014KXMLZ4| 4.848101265822785|
|Valkyria Chronicl...|B01B61X1UC|           4.84375|
|Dark Pit amiibo -...|B00Y074JD8|  4.84070796460177|
|Inkling Squid ami...|B00VFT4VGY|  4.84070796460177|
|Mega Man amiibo -...|B00S66TYFC| 4.839285714285714|
|StarCraft II: Hea...|B0050SZ1JW| 4.837837837837838|
+--------------------+----------+------------------+