In [12]:
#1: AMAZON_FASHION

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/AMAZON_FASHION.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


#products with good reviews
sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC")

sqlDF2.show()

#products with bad reviews
sqlDF3 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC")

sqlDF2.show()

+----------+-----+------------------+
|      asin|count|     average_score|
+----------+-----+------------------+
|B01EC05AZI|  515|2.7398058252427187|
|B00UJ6GUYA| 1004|  2.99800796812749|
|B001T4MSU6|  527| 3.301707779886148|
|B0183JQHCO| 1226|3.3556280587275693|
|B00UDF11O6|  738|3.3672086720867207|
|B009PMILQE|  855| 3.433918128654971|
|B0045D7VZ0|  560|              3.45|
|B000EE1NNA|  520|3.4692307692307693|
|B00E1L9QOU|  656|3.4923780487804876|
|B00XV52VMG|  538| 3.676579925650558|
|B018KRRC2I|  854| 3.728337236533958|
|B019Q577XC|  735| 3.763265306122449|
|B005MF5NE6|  546|3.8058608058608057|
|B000YFSR5G| 2420|  3.81198347107438|
|B00YP2TNZ2|  573| 3.825479930191972|
|B000YFSR4W| 1566|3.8371647509578546|
|B0014F8TIU|  878| 3.856492027334852|
|B007F55UGW|  506|3.9209486166007905|
|B00DHCZVMK|  594| 3.951178451178451|
|B0012DR1LU|  712| 3.973314606741573|
+----------+-----+------------------+
only showing top 20 rows

In [13]:
#2: All_Beauty

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/All_Beauty.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC")

sqlDF2.show()

+----------+-----+------------------+
|      asin|count|     average_score|
+----------+-----+------------------+
|B017CHORY8|  573|3.1204188481675392|
|B00011QUDE|  902|3.6019955654101996|
|B000EG8HLE|  663|3.6440422322775263|
|B0010ZBORW|  566| 3.648409893992933|
|B000H6A02A|  763|3.6815203145478375|
|B00SQ3S6TA|  506|3.7292490118577075|
|B000BJ1CGQ|  887|3.8613303269447576|
|B0067F28ZW| 1644|3.8899026763990268|
|B007EITOSK|  796|3.9020100502512562|
|B000WYJTZG| 2091|3.9775227164036346|
|B000PARERW|  675| 4.038518518518519|
|B00005JS5C| 2154| 4.088672237697307|
|B001AMRQ2W|  604| 4.139072847682119|
|B00NT0AR7E|  764| 4.151832460732984|
|B000FEF1V4|  599| 4.158597662771285|
|B000VV1YOY|  860| 4.180232558139535|
|B00ATV35SY|  529|4.2041587901701325|
|B001AJ6YS2| 1037| 4.215043394406943|
|B01DKQAXC0| 4090| 4.217848410757946|
|B00120VWTK|  854| 4.251756440281031|
+----------+-----+------------------+
only showing top 20 rows

In [14]:
#3: Cell_Phones_and_Accessories

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Cell_Phones_and_Accessories.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC")

sqlDF2.show()

+----------+-----+------------------+
|      asin|count|     average_score|
+----------+-----+------------------+
|B00Z7TFU90|  609|1.3628899835796386|
|B01AFW792E|  922|1.8253796095444685|
|B00TF4WVO0|  579| 1.846286701208981|
|B00F0D67Z4|  756|1.9947089947089947|
|B005NG71K8|  655|2.0595419847328245|
|B00AIU4ZDA|  536|2.1138059701492535|
|B00KH7JTVM|  820| 2.252439024390244|
|B019VZSD4Y|  546|2.2747252747252746|
|B00GOKACLC|  785|2.3070063694267517|
|B00LL6KW0K|  576|2.3472222222222223|
|B01FF0TWCG|  555|2.4108108108108106|
|B00CUKEZ5E|  582| 2.429553264604811|
|B00FFZD28W| 1052| 2.446768060836502|
|B00KJ67ZDK|  618|2.4789644012944985|
|B001F9DJOO| 1049|2.4947569113441372|
|B00J4YPPW6|  647| 2.497681607418856|
|B00ELFDOYO|  510| 2.552941176470588|
|B018E06GBO|  515|2.5533980582524274|
|B0095VIIKO| 1350|2.5562962962962965|
|B009ZBUKHS|  577|2.5563258232235704|
+----------+-----+------------------+
only showing top 20 rows

In [ ]:
#4: Electronics

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Electronics.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC")

sqlDF2.show()

In [ ]:
#5: Home_and_Kitchen

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Home_and_Kitchen.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC")

sqlDF2.show()

In [ ]:
#6: Sports_and_Outdoors

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Sports_and_Outdoors.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC")

sqlDF2.show()

In [ ]:
#7: Video_Games

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Video_Games.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC")

sqlDF2.show()