## Find the top review products of each category

In [13]:
#1: AMAZON_FASHION

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/AMAZON_FASHION.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC")

sqlDF3.show()
#originalDF.printSchema()

+----------+------------------+
|      asin|      avg(overall)|
+----------+------------------+
|B0148B7EJ6| 4.907801418439717|
|B0006HB4XE| 4.858267716535433|
|B011PLYVCA| 4.856209150326797|
|B01B5BWTNS| 4.844990548204159|
|B00D8FJF6O|4.8274111675126905|
|B00RLSCLJM| 4.826003298515668|
|B0087UIAMK|  4.81294964028777|
|B00G8Q7JZ4| 4.807453416149069|
|B002Z3N1HE| 4.793103448275862|
|B01BKVWKCS| 4.788732394366197|
|B01CEZSSXY| 4.788617886178862|
|B00CZ50F3A| 4.780821917808219|
|B00GRDC4BM| 4.771653543307087|
|B001XOQTSE| 4.770623742454728|
|B00GRDC372| 4.764705882352941|
|B00KGMGACO| 4.758620689655173|
|B00409FL4M| 4.752475247524752|
|B00XCWZBUW| 4.747191011235955|
|B00GI76P3K| 4.742857142857143|
|B003WJXKTO| 4.739495798319328|
+----------+------------------+
only showing top 20 rows

In [16]:
#2: All_Beauty

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/All_Beauty.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC")

sqlDF3.show()
#originalDF.printSchema()

+----------+------------------+
|      asin|      avg(overall)|
+----------+------------------+
|B000KNELAW|               5.0|
|B0010DMNFQ| 4.990445859872612|
|B004LUQRJI| 4.984189723320158|
|B00020UR4C| 4.982570806100218|
|B000UYCKRC|             4.952|
|B0009RF9DW| 4.934108527131783|
|B000FI4S1E|4.9316129032258065|
|B000WZHGVY| 4.928571428571429|
|B01EGH00J8| 4.902985074626866|
|B01HC6G4D6| 4.885714285714286|
|B01DLR9IDI| 4.876494023904383|
|B0012Y0ZG2| 4.861683079677708|
|B000URXP6E|4.8389662027833005|
|B00PJD7KPG| 4.823943661971831|
|B00006L9LC| 4.814606741573034|
|B00D8FUHFC| 4.804511278195489|
|1620213982| 4.798414023372287|
|B001V9FPHM| 4.796380090497737|
|B001ET77OI| 4.795918367346939|
|B0000C4KJX| 4.784172661870503|
+----------+------------------+
only showing top 20 rows

In [19]:
#3: Cell_Phones_and_Accessories

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Cell_Phones_and_Accessories.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC")

sqlDF3.show()
#originalDF.printSchema()

+----------+------------------+
|      asin|      avg(overall)|
+----------+------------------+
|B0182KPZBS|               5.0|
|B00FOF18OS|               5.0|
|B004MHNBN0| 4.997826086956522|
|B00CAIOF56| 4.995843230403801|
|B006VDFYGU| 4.995305164319249|
|B018E2RYNQ| 4.940809968847352|
|B01881TCTW| 4.916666666666667|
|B015NBWF4O| 4.914507772020725|
|B013HJZ5BO| 4.907692307692308|
|B00K77WH8Y|  4.89344262295082|
|B00CG70K78| 4.888475836431227|
|B00KMKSRS0| 4.880503144654088|
|B00F9F6OVK| 4.874378109452737|
|B01BHLUAWS|4.8713235294117645|
|B013CS5HEK| 4.861584754262789|
|B00QSIRLDW| 4.851351351351352|
|B00FS5L9D4|              4.85|
|B01CY94XS4|4.8428571428571425|
|B00X4PKY5Y| 4.840148698884758|
|B00MNG84HK| 4.839506172839506|
+----------+------------------+
only showing top 20 rows

In [20]:
#4: Electronics

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Electronics.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC")

sqlDF3.show()
#originalDF.printSchema()

+----------+------------------+
|      asin|      avg(overall)|
+----------+------------------+
|B00ZV7AU52|               5.0|
|B00008VSKS|               5.0|
|B0051BIDZW|               5.0|
|B00K2X1IH4|               5.0|
|B003L1AINY|               5.0|
|B001F21XIK|               5.0|
|B00000J0MS| 4.997555012224939|
|B00SVNGKJ8|4.9960899315738025|
|B01H4CFXZ8| 4.995348837209303|
|B00DZ1TT9Y| 4.994594594594594|
|B007D0ZLCM| 4.990610328638498|
|B00EMP6EWM| 4.988439306358382|
|B01ELRRKW8| 4.952755905511811|
|B0019R3BGI|4.9411764705882355|
|B000053HC5| 4.931372549019608|
|B01E0E5CIG| 4.928909952606635|
|B00Y9IG364| 4.927272727272728|
|B0000DYV9N| 4.924882629107981|
|B01FLPIKDW| 4.924657534246576|
|B018YL17NA| 4.922448979591837|
+----------+------------------+
only showing top 20 rows

In [21]:
#5: Home_and_Kitchen

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Home_and_Kitchen.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC")

sqlDF3.show()
#originalDF.printSchema()

+----------+------------------+
|      asin|      avg(overall)|
+----------+------------------+
|B002PISR00|               5.0|
|B001L4U05O|               5.0|
|B006K9HNJQ|               5.0|
|B01BCMCW64|               5.0|
|B00125UJCG|               5.0|
|B005LQIWZS|               5.0|
|B0001BUVJI| 4.988970588235294|
|B009S59PEU|4.9862068965517246|
|B00S1MKKTA| 4.982608695652174|
|B01H9H2K04| 4.978021978021978|
|B00N33OOU8| 4.974789915966387|
|B003AKXBLC| 4.974193548387097|
|B01EDTOTWI| 4.971830985915493|
|B0013I1ET4| 4.968253968253968|
|B004M6MFZG| 4.966942148760331|
|B017MUR7M4| 4.966942148760331|
|B005MS8354| 4.966183574879227|
|B00GSYTSA0| 4.962162162162162|
|B010OA4M1S| 4.961904761904762|
|B0170T48FG| 4.957894736842105|
+----------+------------------+
only showing top 20 rows

In [23]:
#6: Sports_and_Outdoors

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Sports_and_Outdoors.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC")

sqlDF3.show()
#originalDF.printSchema()

+----------+------------------+
|      asin|      avg(overall)|
+----------+------------------+
|B00ERZ562Q|               5.0|
|B017O7OU0M| 4.972727272727273|
|B00K00X4MQ|  4.95945945945946|
|B00CAARXCQ| 4.956521739130435|
|B0106DEYK2| 4.947761194029851|
|B01AM71P5E| 4.939953810623557|
|B00YLLN4I4|            4.9375|
|B00C2SF0E4| 4.935714285714286|
|B00DXG8FHI| 4.931297709923665|
|B00I5UKTSK| 4.928539122568973|
|B00H7ZU3K8| 4.926966292134831|
|B0002L5BS8|  4.92654028436019|
|B008BQI0FM| 4.925714285714286|
|B00GD2GCJ2| 4.922480620155039|
|B00AS025UU| 4.922413793103448|
|B01BWQJARY| 4.921739130434783|
|B005J04BYM|4.9209039548022595|
|B00DXG52IS| 4.920833333333333|
|B0014D85AY|4.9192825112107625|
|B00CJICDRY|  4.91716296697347|
+----------+------------------+
only showing top 20 rows

In [22]:
#7: Video_Games.json

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Video_Games.json")

originalDF.createOrReplaceTempView("AMAZON_FASHION")

sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count FROM AMAZON_FASHION WHERE verified = True GROUP BY asin")

sqlDF1.createOrReplaceTempView("sqlDF1View")

sqlDF2 = spark.sql("SELECT * FROM sqlDF1View WHERE count > 100")

sqlDF2.createOrReplaceTempView("sqlDF1View2")

sqlDF3 = spark.sql("SELECT sqlDF1View2.asin, AVG(AMAZON_FASHION.overall) FROM sqlDF1View2 LEFT JOIN AMAZON_FASHION ON sqlDF1View2.asin = AMAZON_FASHION.asin GROUP BY sqlDF1View2.asin ORDER BY AVG(AMAZON_FASHION.overall) DESC")

sqlDF3.show()
#originalDF.printSchema()

+----------+------------------+
|      asin|      avg(overall)|
+----------+------------------+
|B00104UBY0|               5.0|
|B005C1B3C6| 4.996240601503759|
|B000B6OR4I| 4.970588235294118|
|B016LGYTKS| 4.927007299270073|
|B01GKHJP4I| 4.922480620155039|
|B00WRJCRP8| 4.904761904761905|
|B0186D1U74| 4.901408450704225|
|B01GOOFYG0|4.8838174273858925|
|B014278KPS|         4.8828125|
|B01GKHJPG6| 4.882513661202186|
|B019W9SM72| 4.872340425531915|
|B01B2FAWG8| 4.868312757201646|
|B014R50404| 4.864705882352941|
|B00LEW3GAO| 4.863636363636363|
|B014KXMLZ4| 4.848101265822785|
|B01B61X1UC|           4.84375|
|B00VFT4VGY|  4.84070796460177|
|B00Y074JD8|  4.84070796460177|
|B00S66TYFC| 4.839285714285714|
|B0050SZ1JW| 4.837837837837838|
+----------+------------------+
only showing top 20 rows