In [2]:
#1: AMAZON_FASHION

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/AMAZON_FASHION.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


#products with bad reviews
sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC")

sqlDF2.show()

#products with good reviews
sqlDF3 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score DESC")

sqlDF3.show()

+----------+-----+------------------+
|      asin|count|     average_score|
+----------+-----+------------------+
|B01EC05AZI|  515|2.7398058252427187|
|B00UJ6GUYA| 1004|  2.99800796812749|
|B001T4MSU6|  527| 3.301707779886148|
|B0183JQHCO| 1226|3.3556280587275693|
|B00UDF11O6|  738|3.3672086720867207|
|B009PMILQE|  855| 3.433918128654971|
|B0045D7VZ0|  560|              3.45|
|B000EE1NNA|  520|3.4692307692307693|
|B00E1L9QOU|  656|3.4923780487804876|
|B00XV52VMG|  538| 3.676579925650558|
|B018KRRC2I|  854| 3.728337236533958|
|B019Q577XC|  735| 3.763265306122449|
|B005MF5NE6|  546|3.8058608058608057|
|B000YFSR5G| 2420|  3.81198347107438|
|B00YP2TNZ2|  573| 3.825479930191972|
|B000YFSR4W| 1566|3.8371647509578546|
|B0014F8TIU|  878| 3.856492027334852|
|B007F55UGW|  506|3.9209486166007905|
|B00DHCZVMK|  594| 3.951178451178451|
|B0012DR1LU|  712| 3.973314606741573|
+----------+-----+------------------+
only showing top 20 rows

+----------+-----+------------------+
|      asin|count|     average_score|
+----------+-----+------------------+
|B00RLSCLJM| 3577| 4.826670394185071|
|B00G8Q7JZ4|  631| 4.812995245641838|
|B002Z3N1HE| 1131| 4.798408488063661|
|B003WJXKTO|  783| 4.745849297573436|
|B00XT15P8E| 1790| 4.732960893854749|
|B00DP5NNHY|  785| 4.694267515923567|
|B01CDV7TNE|  607| 4.685337726523888|
|B01AQW1XI4|  632| 4.667721518987341|
|B000PHANNM| 2401| 4.658892128279883|
|B00ZOWJI7A|  791|4.6561314791403285|
|B00DQYPSJU|  842|4.5831353919239906|
|B000KPIHQ4| 4270| 4.517330210772834|
|B000V0IBDM| 4279| 4.515073615330684|
|B00CPRP5T2|  580| 4.503448275862069|
|B00UPN42RY|  791| 4.495575221238938|
|B00PSM5ENS| 1139| 4.483757682177348|
|B000K2PJ4K|  888|4.4324324324324325|
|B00I0VHS10| 3608| 4.428215077605321|
|B00201ER88| 2081| 4.423354156655454|
|B000P0X15G| 1823| 4.415249588590236|
+----------+-----+------------------+
only showing top 20 rows

In [3]:
#2: All_Beauty

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/All_Beauty.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


#products with bad reviews
sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC")

sqlDF2.show()

#products with good reviews
sqlDF3 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score DESC")

sqlDF3.show()

+----------+-----+------------------+
|      asin|count|     average_score|
+----------+-----+------------------+
|B017CHORY8|  573|3.1204188481675392|
|B00011QUDE|  902|3.6019955654101996|
|B000EG8HLE|  663|3.6440422322775263|
|B0010ZBORW|  566| 3.648409893992933|
|B000H6A02A|  763|3.6815203145478375|
|B00SQ3S6TA|  506|3.7292490118577075|
|B000BJ1CGQ|  887|3.8613303269447576|
|B0067F28ZW| 1644|3.8899026763990268|
|B007EITOSK|  796|3.9020100502512562|
|B000WYJTZG| 2091|3.9775227164036346|
|B000PARERW|  675| 4.038518518518519|
|B00005JS5C| 2154| 4.088672237697307|
|B001AMRQ2W|  604| 4.139072847682119|
|B00NT0AR7E|  764| 4.151832460732984|
|B000FEF1V4|  599| 4.158597662771285|
|B000VV1YOY|  860| 4.180232558139535|
|B00ATV35SY|  529|4.2041587901701325|
|B001AJ6YS2| 1037| 4.215043394406943|
|B01DKQAXC0| 4090| 4.217848410757946|
|B00120VWTK|  854| 4.251756440281031|
+----------+-----+------------------+
only showing top 20 rows

+----------+-----+------------------+
|      asin|count|     average_score|
+----------+-----+------------------+
|B0009RF9DW|  673| 4.931649331352155|
|B000FI4S1E|  674| 4.928783382789318|
|B0012Y0ZG2| 1910| 4.843455497382199|
|B000URXP6E|  886| 4.822799097065463|
|1620213982| 4532|4.7950132391879965|
|B00006L9LC|  623|  4.79454253611557|
|B001OHV1H4|  675| 4.758518518518518|
|B006IB5T4W| 2260| 4.664159292035398|
|B000050FDY| 1417| 4.658433309809457|
|B00G5L867C| 1001| 4.653346653346653|
|B000YB70PS|  693|4.6479076479076475|
|B00D3M0CRS| 1034| 4.608317214700193|
|B0001TMDF0|  759|4.5981554677206855|
|B00021DJ32|  683| 4.578330893118594|
|B00JVU3K9I|  900| 4.573333333333333|
|B006WYJM8Y|  709| 4.571227080394922|
|B001QY8QXM| 4270|4.5688524590163935|
|B005IHT94S|  582| 4.563573883161512|
|B00009RB1C|  633| 4.505529225908373|
|B00BMVV3MK| 1702| 4.503525264394829|
+----------+-----+------------------+
only showing top 20 rows

In [4]:
#3: Cell_Phones_and_Accessories

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Cell_Phones_and_Accessories.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


#products with bad reviews
sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC")

sqlDF2.show()

#products with good reviews
sqlDF3 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score DESC")

sqlDF3.show()

+----------+-----+------------------+
|      asin|count|     average_score|
+----------+-----+------------------+
|B00Z7TFU90|  609|1.3628899835796386|
|B01AFW792E|  922|1.8253796095444685|
|B00TF4WVO0|  579| 1.846286701208981|
|B00F0D67Z4|  756|1.9947089947089947|
|B005NG71K8|  655|2.0595419847328245|
|B00AIU4ZDA|  536|2.1138059701492535|
|B00KH7JTVM|  820| 2.252439024390244|
|B019VZSD4Y|  546|2.2747252747252746|
|B00GOKACLC|  785|2.3070063694267517|
|B00LL6KW0K|  576|2.3472222222222223|
|B01FF0TWCG|  555|2.4108108108108106|
|B00CUKEZ5E|  582| 2.429553264604811|
|B00FFZD28W| 1052| 2.446768060836502|
|B00KJ67ZDK|  618|2.4789644012944985|
|B001F9DJOO| 1049|2.4947569113441372|
|B00J4YPPW6|  647| 2.497681607418856|
|B00ELFDOYO|  510| 2.552941176470588|
|B018E06GBO|  515|2.5533980582524274|
|B0095VIIKO| 1350|2.5562962962962965|
|B009ZBUKHS|  577|2.5563258232235704|
+----------+-----+------------------+
only showing top 20 rows

+----------+-----+------------------+
|      asin|count|     average_score|
+----------+-----+------------------+
|B004MHNBN0|  857| 4.997666277712952|
|B00CAIOF56| 1571| 4.995544239338002|
|B006VDFYGU| 1401| 4.995003568879372|
|B00F9F6OVK| 2357|  4.87611370386084|
|B00FS5L9D4|  975|  4.85025641025641|
|B013CS5HEK|  752| 4.843085106382978|
|B00WHZJHUK| 1187| 4.837405223251896|
|B00VH8ZW02| 3327|  4.81033964532612|
|B00PXGIMYM|  535| 4.807476635514019|
|B00TQQFX38| 1612| 4.800868486352357|
|B00YRYS4T4| 1345| 4.789591078066914|
|B00YXZKDMS|  838| 4.784009546539379|
|B00P933OJC| 4918| 4.773281821878813|
|B014INJCT4|  588| 4.772108843537415|
|B011KPRE1G| 1418| 4.770098730606488|
|B00PINR91M|  922| 4.752711496746204|
|B017JT6846|  811| 4.744759556103576|
|B0127F1IC4| 2786|4.7430007178750895|
|B00JQMDGG8|  687| 4.739446870451237|
|B00OURBFGC| 1211| 4.737407101568952|
+----------+-----+------------------+
only showing top 20 rows

In [5]:
#4: Electronics

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Electronics.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


#products with bad reviews
sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC")

sqlDF2.show()

#products with good reviews
sqlDF3 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score DESC")

sqlDF3.show()

+----------+-----+------------------+
|      asin|count|     average_score|
+----------+-----+------------------+
|B00Q8KDU6C| 1087| 1.845446182152714|
|B005QWH4QA|  816|1.9215686274509804|
|B01F77KXC0| 1173|1.9974424552429668|
|B0104OTZN4| 1146| 2.087260034904014|
|B007EA48MA|  699|2.2060085836909873|
|B00XJ8W1WA|  558|2.2096774193548385|
|B011PGYJ1I|  511| 2.295499021526419|
|B006I0IMF6|  559|2.3434704830053668|
|B000Q5UMEI|  650|2.3815384615384616|
|B014S7GQEE|  574|2.3832752613240418|
|B0010LXT9W|  838|2.4045346062052504|
|B001IXY67Q|  595|2.4050420168067226|
|B00ABCV34O| 1111|2.4131413141314133|
|B002TUC64W|  759|2.4176548089591567|
|B0016BVDIK| 3247|2.4468740375731444|
|B01GDXHD3E|  655|2.5236641221374048|
|B015LHVL7C|  564| 2.551418439716312|
|B0176XT9Z0| 1148|2.5653310104529616|
|B000P631PU|  512|         2.5703125|
|B00GJSURWI|  520|2.5865384615384617|
+----------+-----+------------------+
only showing top 20 rows

+----------+-----+------------------+
|      asin|count|     average_score|
+----------+-----+------------------+
|B00SVNGKJ8|  940|               5.0|
|B00JFC9BJU|  744| 4.911290322580645|
|B00JFC9ALE|  560| 4.876785714285714|
|B00RJBWA9C| 2255| 4.873614190687362|
|B01DBV1OKY| 2651|4.8687287815918525|
|B01BHBL6US|  777| 4.867438867438867|
|B00OF8ME52|  589| 4.862478777589134|
|B0014D47RY|  550|              4.86|
|B006TAP096|  515|  4.85631067961165|
|B003FVX9FO|  881| 4.855845629965947|
|B00AR9RIVI|  564|4.8546099290780145|
|B01BV2KXYI| 1385|4.8527075812274365|
|B00SFSBHW4|  669| 4.852017937219731|
|B0160KFOLS|  531| 4.849340866290019|
|B00KPRWB9G|  843| 4.846975088967971|
|B01CUMNIV8|  616|4.8441558441558445|
|B00RJCESTQ|  863| 4.842410196987254|
|B004Y1AYAC| 1626| 4.839483394833948|
|B0002INQT2|  684| 4.837719298245614|
|B001AQYJI2| 1175| 4.836595744680851|
+----------+-----+------------------+
only showing top 20 rows

In [ ]:
#5: Home_and_Kitchen

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Home_and_Kitchen.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC")

sqlDF2.show()

In [7]:
#6: Sports_and_Outdoors

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Sports_and_Outdoors.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


#products with bad reviews
sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC")

sqlDF2.show()

#products with good reviews
sqlDF3 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score DESC")

sqlDF3.show()

+----------+-----+------------------+
|      asin|count|     average_score|
+----------+-----+------------------+
|B0012K9RFQ|  670|2.2507462686567163|
|B00G9UI598|  598|  2.29933110367893|
|B0015U440G|  516| 2.635658914728682|
|B00NIU9YSI| 1414| 2.737623762376238|
|B000TH5LL2|  531| 2.768361581920904|
|B00VBWSD32|  541| 2.789279112754159|
|B001FT3MDM|  661|2.8063540090771557|
|B001PR0N90|  522| 2.846743295019157|
|B01BD3PKL6|  527|2.8500948766603416|
|B00N2BWHWS| 1324|2.8512084592145017|
|B01BZ5PEB8|  776|2.9033505154639174|
|B001JU9Y3Y|  599|2.9382303839732886|
|B01GW2HF98| 1075| 3.013953488372093|
|B00852684M|  685|3.0145985401459856|
|B010EY1Y2E|  733|3.0163710777626194|
|B004RQWYDO|  689|3.0261248185776486|
|B00AIAKWAK|  515| 3.050485436893204|
|B019DQHRX4|  524| 3.053435114503817|
|B0006V2B4G|  504|3.0595238095238093|
|B00V7SABN0|  545|3.0660550458715594|
+----------+-----+------------------+
only showing top 20 rows

+----------+-----+------------------+
|      asin|count|     average_score|
+----------+-----+------------------+
|B01AM71P5E|  788| 4.939086294416244|
|B00I5UKTSK| 4250|             4.928|
|B00YN55VKM|  952| 4.917016806722689|
|B00CJICDRY| 1795| 4.915877437325905|
|B01GK4MDPO|  507| 4.911242603550296|
|B00WS4FRQ8| 1103| 4.907524932003627|
|B01EHA8MP8|  591| 4.903553299492386|
|B00NH9WEUA| 1718|4.9004656577415595|
|B001A0ZT2I|  625|            4.8992|
|B0179AO5AY|  924|4.8982683982683985|
|B00D3PNZB0|  643| 4.883359253499222|
|B0179SD8YK| 1654| 4.883313180169287|
|B015HHY17I| 3098| 4.883150419625565|
|B00TVVBD6O|  652| 4.878834355828221|
|B00CL0T5YY|  879|4.8759954493742885|
|B01G66SKMQ| 1528|4.8736910994764395|
|B00GHU5PXO|  649| 4.873651771956856|
|B00SGADF3A| 1146| 4.871727748691099|
|B01GTU597I|  523| 4.869980879541109|
|B018UQX82C|  872| 4.865825688073395|
+----------+-----+------------------+
only showing top 20 rows

In [8]:
#7: Video_Games

#Task: Load the raw data from HDFS, filter out the fields we don't need. Then, write back to the HDFS
originalDF = spark.read.json("hdfs://orion11:21001/p4/Video_Games.json")

originalDF.createOrReplaceTempView("view1")


sqlDF1 = spark.sql("SELECT asin, COUNT(*) AS count, AVG(overall) as average_score FROM view1 WHERE verified = True GROUP BY asin")


sqlDF1.createOrReplaceTempView("view2")


#products with bad reviews
sqlDF2 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score ASC")

sqlDF2.show()

#products with good reviews
sqlDF3 = spark.sql("SELECT asin, count, average_score FROM view2 WHERE count > 500 ORDER BY average_score DESC")

sqlDF3.show()

+----------+-----+------------------+
|      asin|count|     average_score|
+----------+-----+------------------+
|B00CRN9UWC|  904|2.3418141592920354|
|B007FTE2VW|  897| 2.358974358974359|
|B00GXMDA74|  548| 2.576642335766423|
|B00ZQB28XK| 1253| 2.728651237031125|
|B00ZJRHSZO|  961|2.7637877211238293|
|B004Y2VAVS|  555|2.8414414414414413|
|B00CQOG8LI|  538| 2.899628252788104|
|B005HN5LKY| 1252| 3.019968051118211|
|B019VUAJMS|  552|3.0597826086956523|
|B003DSAT0C|  600|              3.07|
|B0013OL0BK| 1440| 3.082638888888889|
|B00NE5D4SS| 1144|3.0847902097902096|
|B008U2XEL2|  569| 3.093145869947276|
|B007LQG9A6| 1387|3.1081470800288393|
|B004774IPU|  942|3.1284501061571124|
|B007MJSZDQ| 1469| 3.128658951667801|
|B00NGIYFOA| 1056| 3.128787878787879|
|B00JTQS1DO|  550|3.1363636363636362|
|B00ZDNNRB8|  761| 3.137976346911958|
|B0050SYS5A|  656|3.1570121951219514|
+----------+-----+------------------+
only showing top 20 rows

+----------+-----+------------------+
|      asin|count|     average_score|
+----------+-----+------------------+
|B00104UBY0|  581|               5.0|
|B017W1771Y|  550| 4.796363636363636|
|B00UG63VDG| 1013| 4.791707798617966|
|B00AKIPBNS|  832| 4.790865384615385|
|B001JKTC9A|  603| 4.786069651741293|
|B00CJ7IUGS|  800|             4.785|
|B0017KIBAI| 1558| 4.783697047496791|
|B00PB9LZQI|  766| 4.783289817232376|
|B00DC7G0GG|  744| 4.782258064516129|
|B00GANWVJE|  799|  4.76846057571965|
|B00K848IH0| 1020| 4.767647058823529|
|B00FAS1WDG|  911| 4.767288693743139|
|B00KI2OZ9M| 1072|4.7658582089552235|
|B00L3LQ1FI|  654|4.7629969418960245|
|B00S7O6RJO|  649| 4.756548536209553|
|B00DD0B1R0| 1636| 4.755501222493888|
|B00GODZYNA| 2004|  4.75249500998004|
|B0053BCML6| 1284| 4.750778816199377|
|B0053BCO00| 1222|4.7504091653027825|
|B00OBZNI0O|  653|  4.74885145482389|
+----------+-----+------------------+
only showing top 20 rows